@{
    ViewBag.Title = "Home Page";
}
@section featured {


    <script src="~/Scripts/AngularViewControllers/PhotoSetController.js"></script>
    <script src="../../Scripts/AngularViewControllers/PhotoTagSearchController.js" type="text/javascript"></script>

    <section class="featured">
        <div class="content-wrapper">

        </div>
    </section>
    

        
        <div ng-app="pmApp" ng-controller="PhotoSetController" id="pmContent" style="width:{{ClientViewData.ThumbLayoutSize.Width}}px">
            <div ng-controller="PhotoTagSearchController" >
                <form id="HeaderSearchForm" name="HeaderSearchForm"
                xxxmethod="post" xxxaction="PhotoMosaic2.aspx" autocomplete="off">
                <input id="HeaderSearchTextBox" name="HeaderSearchTextBox" type="text" maxlength="200" ng-model="searchCriteriaString" ng-change="QueryData()">
                <button id="HeaderSearchButton" value="submit" type="submit" class="header-search-button">
                </button>
                </form>
                <div id="HeaderSearchUsersDiv">
                    <ul>
                        <li>
                            <div class="HSUDstart">
                            </div>
                            <div>
                                C H</div>
                            <div class="HSUDend">
                            </div>
                        </li>
                        <li>
                            <div class="HSUDstart">
                            </div>
                            <div>
                                D JS H</div>
                            <div class="HSUDend">
                            </div>
                        </li>
                        <li>
                            <div class="HSUDstart">
                            </div>
                            <div>
                                R H</div>
                            <div class="HSUDend">
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="HeaderSearchResults" ng-show="PhotoTagSearchResults.PhotoTags.length">
                    <ul id="HeaderSearchResultsUL">
                    <li ng-repeat="tag in PhotoTagSearchResults.PhotoTags">{{tag.Name}}</li>
                    </ul>
                </div>
            </div>
            <div id="pmImagelist">
                <ul ng-repeat="group in photoSetGroups.Groups">
                    <li ng-repeat="photo in group.Photos" ng-class='{last:$last}' style="height:{{ClientViewData.ThumbSize.Height}}px; width:{{ClientViewData.ThumbSize.Width}}px">
                        <div style="background-color:{{group.GroupColor}};" ng-show="$first">{{group.Group}}</div>
                        <a class="pmImagelistImgLink">
                            <img ng-src="{{photo.Url}}" border=0 style="height:{{ClientViewData.ThumbSize.Height-ClientViewData.GroupLabelHeight}}px; width:{{ClientViewData.ThumbSize.Width}}px">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
}

